<section class="actors-info py-5">
    <h1 class="text-center fw-bold">{{name}} 's films</h1> <!-- Aggiungi il nome dell'attore qui -->
    <div class="container">

        <div class="row d-flex flex-nowrap">
            {{#if actor.length}}
                {{#each actor}}
                    <div class="col-md-3 mb-4">
                        <div class="card shadow-sm bg-dark text-white"> <!-- Modifica per box scuro e testo bianco -->
                            <a href="/movies/get-all-info/{{this.id}}" class="movie-link">
                                <img src="{{this.posterUrl}}" class="card-img-top" alt="{{this.title}}" data-id="{{this.id}}">
                            </a>
                            <div class="card-body text-center">
                                <h2 class="card-title">{{this.role}}</h2> <!-- Il testo qui è bianco, come richiesto -->
                            </div>
                        </div>
                    </div>
                {{/each}}
            {{else}}
                <div class="col-12">
                    <p class="text-center">No actors have this name.</p>
                </div>
            {{/if}}
        </div>
    </div>
</section>
