<section class="critic py-5">
    <div class="container">
        <h1 class="text-center mb-4">{{criticName}}'s reviews</h1>

        <div class="row justify-content-center">
            {{#if movies.reviews}}
                <div class="col-12">
                    <ul class="list-group">
                        {{#each movies.reviews}}
                            <li class="list-group-item shadow-sm bg-dark text-white mb-3">
                                <div class="d-flex align-items-center mb-3">
                                    <div>
                                        <h3 class="card-title text-light">{{this.movie_title}}</h3>
                                        <p><strong>Review's type:</strong> {{this.review_type}}</p>
                                        <p><strong>Score:</strong> {{this.review_score}}</p>
                                        <p><strong>Review type:</strong> {{this.review_date}}</p>
                                        <p><strong>Content:</strong> {{this.review_content}}</p>
                                    </div>
                                </div>
                            </li>
                        {{/each}}
                    </ul>
                </div>
            {{else}}
                <div class="col-12">
                    <p class="text-center">There aren't reviews found for this critic.</p>
                </div>
            {{/if}}
        </div>
    </div>
</section>
