<section class="container py-4">
    <div class="row">
        {{#each movies}}
            <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
                <div class="card h-100 bg-dark text-white"> <!-- Card scura con testo bianco -->
                    <a href="/movies/get-all-info/{{this.id}}" class="movie-link">
                        <img src="{{this.posterUrl}}" class="card-img-top" alt="{{this.title}}" data-id="{{this.id}}">
                    </a>
                    <div class="card-body p-2">
                        <h4 class="card-title">{{this.title}}</h4>
                        <p class="card-text mb-1"><strong>Year:</strong> {{this.date}}</p>
                        <p class="card-text mb-1"><strong>Tagline:</strong> {{this.tagline}}</p>
                        <p class="card-text mb-1"><strong>Rating:</strong> {{this.rating}}</p>
                        <p class="card-text mb-1"><strong>Minutes:</strong> {{this.minute}} min</p>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</section>
