<section class="container py-4">
    {{#each groupedAwards}}
        <div class="mb-4">
            <h2 class="text-center mb-3">{{@key}}</h2> <!-- Nome della categoria -->
            <div class="oscar-results">
                <div class="row flex-nowrap overflow-auto">
                    {{#each this}}
                        <div class="col-sm-6 col-md-4 col-lg-3 mb-4"> <!-- Card più piccola -->
                            <div class="card shadow-sm bg-dark text-white">
                                <!-- Poster cliccabile -->
                                <a href="/movies/get-all-info/{{filmId}}">
                                    <img src="{{#if posterUrl}}{{posterUrl}}{{else}}/images/default_poster.jpg{{/if}}"
                                         alt="Poster di {{film}}" class="card-img-top" />
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title text-center">{{film}}</h5>
                                    <a href="/actors/actors-info/{{name}}" class="text-white">
                                        <p class="card-text"><strong>Nome:</strong>
                                            <span class="actor-name">{{name}}</span>
                                        </p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    {{else}}
        <p class="text-center">Nessun risultato trovato.</p>
    {{/each}}
</section>
