<section class="search">
<div class="search-results">
    <h1>Risultati per "{{query}}"</h1>

    <div class="movies-container">
        {{#each movies}}
            <div class="movie-card" data-id="{{this.id}}" onclick="redirectToMovie(this)">
                <h2>{{this.title}}</h2>
                <p>
                    <strong></strong>
                    <img src="{{posterUrl}}" alt="Poster di {{this.title}}" />
                </p>
                <p>{{this.name}}</p>
                <p>{{this.tagline}}</p>
                <p>{{this.date}}</p>
            </div>
        {{/each}}
    </div>

    <div class="actors-container">
        {{#each actors}}
            <div class="actor-card" data-id="{{this.id}}" onclick="redirectToActor(this)">
                <h2>{{this.name}}</h2>
                <p>Ruolo: {{this.role}}</p>
            </div>
        {{/each}}
    </div>


</div>

</section>