<section class="search-actors container my-5">
    <div class="search-results">
        <h1 class="mb-4">Risultati per "{{query}}"</h1>

        {{#if actors}}
            <div class="row mb-5">
                <div class="col-12">
                </div>
                {{#each movies}}
                    <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
                        <div class="card h-100 bg-dark text-white">
                            <a href="/movies/get-all-info/{{this.id}}" class="movie-link">
                                <img src="{{#if this.posterUrl}}{{this.posterUrl}}{{else}}/images/default-poster.jpg{{/if}}"
                                     class="card-img-top"
                                     alt="{{this.title}}"
                                     data-id="{{this.id}}">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title">{{this.title}}</h5>
                                <p class="card-text"><strong>{{this.name}}</strong></p>
                                <p class="card-text">{{this.tagline}}</p>
                                <p class="card-text">{{this.date}}</p>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        {{/if}}
    </div>
</section>